canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: 'Courier New', Courier, monospace, 'Times New Roman', Times, serif;
  font-weight: 900;
  font-style: normal;
}


main {
  width: 100vw;
  color: rgb(0, 0, 0);
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  height: 9815px;
}

h1, h2, h3, blockquote {
  font-family: 'Courier New', Courier, monospace, 'Times New Roman', Times, serif;
  font-weight: 900;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    /*background: var(--dark-bg);*/
    grid-column: 2 / span 5;
    font-size: 2rem;
    /*padding: 2rem;*/
    margin-top: 150px;
    margin-bottom: 200px;
  }

  section {
    /*grid-column: 2 / 8;*/
    padding: 1rem;
    /*background: var(--dark-bg);*/
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 1 / span 12;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: rgb(0, 0, 0);
    /*background-color: white;*/
    font-size: 3rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 2 / 8;
  }

  .right {
    grid-column: 7 / 12;
  }

  .grey {
    -webkit-filter: grayscale(100%);
     filter: grayscale(100%);
  }

  .contact_grid {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  .contact_color {
    color: rgb(0, 0, 0);
    /*background-color: white;*/
    font-size: 5rem;
    display: inline;
    line-height: 1;
  }